body {
    overflow: hidden;
   }
   
   .bg-booking {
       background-image: url('../../images/bookings_bg.png');
       background-repeat: no-repeat;
       background-size: 100% 100%;
       max-width: none;
       height: 100vh;
       padding-left: 5%;
   }

   .booking-div{
    background-color: transparent;
    padding: 30px;
    max-width: max-content;
    padding-bottom: 20px;
   }

   #b-span {
    font-size: 10px;
    font-style: italic;
   }