body {
 overflow: hidden;
}

.bg-home {
    background-image: url('../../images/home_bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    max-width: none;
    height: 100vh;
    padding-left: 5%;
}

.btn-menu {
    background-color: #EF5A6F;
    color: white;
    margin-bottom: .75rem !important; 
    margin-right: 2.5rem;  
    width: 250px;
    font-size: 15px;
    font-weight: normal;
    text-align: start;
    border-radius: 16px;

}

.btn-menu:hover {
    background-color: #EF5A6F;
}

ul.b {
    list-style-type: none;
    position: absolute;
    right: 2%;
    top: 17%;
}

.slogan{
    margin-top: 10%;
    color: white;
    font-family: "Anton", "Bebas Neue", sans-serif;
    word-spacing: .5rem;
    letter-spacing: .18rem;
}

.slogan span.c{
    color: #EF5A6F;
}

footer {
    color: white;
    text-align: center;
    font-size: 10px;
    font-style: italic;
}

.logo {
    width: 75px; 
    height: 75px;
    padding-top: .2rem;
}

.logo-header{
    display: flex;
    padding-top: 3%;
}

header h2 {
    padding-left: .5rem;
    padding-top: .4rem;
    font-family: "Anton", "Bebas Neue", sans-serif;
}